* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 25px 5%;
  transition: background 5s;
}

@keyframes amaze {
  0% {
    background: orange;
  }

  25% {
    background: red;
  }

  100% {
    background: blue;
  }
}

body.animate {
  /* background: blue; */
  animation: amaze 5s infinite alternate;
}

body > * {
  margin-bottom: 15px;
}

@keyframes slide-in {
  to {
    transform: translateX(0);
  }
}

h1#title {
  color: red;
  transition: color 7s, background 1s;
}

h1#title:hover {
  background: orange;
}

h1#title.animate {
  color: blue;
}

/* .wrapper span {
  background: red;
} */

.board {
  width: 500px;
  height: 500px;
  background: #ddd;
  position: relative;
  /* overflow: hidden; */
}

.board .pacman {
  background: rgb(253, 232, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}